.dash-card h3 {
    font-weight: 200;
    text-align:center;
}

.dash-card h1{
    text-align:center;
}

.dash-card {
    border-radius: 10px;
    border-top: 5px solid #007bff;
}

.shadow {
    box-shadow: 5px 5px 20px #ccc;
}

.primary {
    background-color: #23374D;
}

.secondary { 
    background-color: #1089FF;
}

.tertiary {
    background-color: #E5E5E5;
}

.quarternary {
    background-color: #EEE;
}

.page {
    margin: 30px auto;
    padding: 0.5in;
    width: 21cm;
    min-height: 29.7cm;
    height: fit-content;
    box-shadow: 5px 5px 20px #ccc;
    background-color: white;
    overflow-y: auto;
}

body {
    background-color: #eeeeee;
}

table.header-table,
.header-table td,
.header-table tr {
    border: 0px
}

.header-table {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.header-table td{
    padding-top: 0.5rem;
}

.page-end {
    page-break-before: always;
}

.signature-box .cell{
    min-height: 1.5rem;
    border: 1px solid black;
    min-width: 4cm;
}

.signature-box .row {
    flex-direction: row;
    display: flex;
}

.signature-box {
    margin: 6cm auto;
    width: fit-content;
    border: 1px solid black;


}

.col>div {
    border: 0.5px solid black;
    padding: 0.25rem;
}