{% extends 'list_template.html' %}

{% block list_headings %}
    <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Instrument</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>


{% endblock list_headings %}

{% block list_content %}
    {% for cal in object_list %}
        <tr>
            <td>{{cal.date}}</td>
            <td>{{cal.customer}}</td>
            <td>{{cal.name_of_instrument}}</td>
            <td>{{cal.status}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn primary text-white dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Actions
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="{% url 'calibration:autoclave-calibration-detail' pk=cal.pk %}">View</a>
                        <a class="dropdown-item" href="{% url 'calibration:generate-certificate' pk=cal.pk type='autoclave' %}">Generate Certificate</a>
                        
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}

{% endblock list_content %}