{% extends 'window.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Outstanding Certificates</h3>
                    <h1>5</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-body">
                    <h3># Standards</h3>
                    <h1>5</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Unique Customers</h3>
                    <h1>5</h1>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-6">
            <h3>Calibrations By Type </h3>
        </div>
        <div class="col-6">
            <h3>Calibrations By Customer</h3>
        </div>
    </div>
</div>

{% endblock content %}