{% extends "window.html" %} 
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 primary text-white" style='padding:1rem;;margin-bottom: 2rem;'>
            <h3><i class="fas fa-list"></i> {{title}}</h3>
           
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="cart-title"><i class="fas fa-filter"></i> Filters</h3>
                </div>
                <div class="card-body">
                    <form action="" method="get">
                            {{filter.form.as_p}}
                            
                        <button class="btn btn-default pull-right" type="submit">Filter</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
                {% include 'pagination.html' %}

            {% if object_list.all.count == 0 %}
                <p><b>No items to display</b></p>
            {% else %}
            <table class="table table-sm table-striped  table-hover">
                <thead>
                    {% block list_headings %}{% endblock %}
                </thead>
                <tbody>
                        {% if object_list.count == 0 %}
                            <tr>
                                <td>This List has no Elements.</td>
                            </tr>
                        {% endif %}
                        {% block list_content %}{% endblock %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>

</div>

<script>
    //fix in python
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('#id_date').datepicker({
        changeYear: true,
        dateFormat: 'yy-mm-dd'  });
    $('#id_expected_receipt_date').datepicker({
        changeYear: true,
        dateFormat: 'yy-mm-dd' });
</script>
{% endblock %}