{% extends "base_template.html" %}
{% block standards %}
	<table>
		<tr class="no_b">
			<td class="no_b">Laboratory Standards and<br />
			Equipment Used</td>
			<td class="no_b">Serial Number</td>
			<td class="no_b">Certificate Number</td>
		</tr>
		<tr class="no_b">
			<td class="no_b">OHAUS</td>
			<td class="no_b">OHAUS</td>
			<td class="no_b">201103170800</td>
		</tr>
	<table>
	
{% endblock %}
{% block results %}
	<table>
		<tr>
			<td>Settling time found to be</td>
			<td>{{object.settling_average|floatformat:2}}</td>
		</tr>
		<tr>
			<td>Weight used for corner load test</td>
			<td>{{object.corner_weight}}</td>
		</tr>
		<tr>
			<td>Max corner loading error</td>
			<td>{{object.max_corner_error}}</td>
		</tr>
		<tr>
			<td>Cold start drift found to be</td>
			<td>{{object.cold_drift}}</td>
		</tr>
		<tr>
			<td>Repeatability at 1/2 load found</td>
			<td>{{object.half_repeat}}</td>
		</tr>
		<tr>
			<td>Repeatability at full load found</td>
			<td>{{object.full_repeat}}</td>
		</tr>
	</table> 
	
	<br />
	
	<table>
		<thead>
			<tr>
				<th>Nominal Mass</th>
				<th>Actual Mass</th>
				<th>Linearity Up</th>
				<th>Difference</th>
			</tr>
		</thead>
		<tbody>
			{% for mea in object.balancelinearity_set.all %}
				<tr>
					<td>{{mea.nominal}}</td>
					<td>{{mea.actual}}</td>
					<td>{{mea.measurement}}</td>
					<td>{{mea.difference}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	
	<p><b>The uncertainty of the balance was estimated to be {{object.uncertainty}} {{object.units}}(95% confidence level)</b></p>
	
	
	<table>
		<tr>
			<td>Customer</td>
			<td>{{object.customer}}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>{{object.location}}</td>
			<td>Certificate Number</td>
			<td>{{object.certificate_number}}</td>
		</tr>
		<tr>
			<td>Manufacturer</td>
			<td>{{object.manufacturer}}</td>
			<td>Date</td>
			<td>{{object.date}}</td>
		</tr>
		<tr>
			<td>Model</td>
			<td>{{object.model}}</td>
			<td>Calibrated by</td>
			<td></td>
		</tr>
		<tr>
			<td>Serial Number</td>
			<td>{{object.serial}}</td>
			<td>Valindation</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Range</td>
			<td>{{object.range_lower}} - {{object.range_upper}}</td>
			<td>Clean</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Resolution</td>
			<td>{{object.resolution}}</td>
			<td>Level</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Units</td>
			<td>{{object.units}}</td>
			<td>Warmed Up</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Tare Check</td>
			<td>YES</td>
			<td>Exercised</td>
			<td>YES</td>
		</tr>
	</table>
	<br />
	<p>1) Standards Used</p>
	
	<p><b>{{object.standard_obj.name}}</b></p>
	 <table class="table">
                <thead>
                    <tr>
                        <th>Nominal</th>
                        <th>Actual</th>
                        <th>Uncertainty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in object.standard.standardline_set.all %}
                        <tr>
                            <td>{{line.nominal}}</td>
                            <td>{{line.actual}}</td>
                            <td>{{line.uncertainty}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
	
	<br />
	<p>2) Cold Start: </p>
	
	<table>
		<thead>
			<tr>
				<th>Test Weight(g)</th>
				<th>{{object.cold_nominal}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Test #</th>
				<th>Result</th>
			</tr>
			{% for mea in object.balancecoldstart_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{mea.measurement}}</td>
				</tr>
			{% endfor %}
			<tr>
				<th>Cold Drift</th>
				<th>{{object.cold_drift}}</th>
			</tr>
		</tbody>
	</table>
	
	<br />
	<p>3) Settling Time: </p>
	
	<table>
		<thead>
			<tr>
				<th>Reading</th>
				<th>Settling Time</th>
			</tr>
			{% for mea in object.balancesettlingtime_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{mea.measurement}}</td>
				</tr>
			{% endfor %}
		</thead>
	</table>
	
	<br />
	<p>4) Linearity(before calibration): </p>
	
	<table>
		<thead>
			<tr>
				<th>Nominal Mass</th>
				<th>Actual Mass</th>
				<th>Linearity Up</th>
				<th>Difference</th>
			</tr>
		</thead>
		<tbody>
			{% for mea in object.balancelinearity_set.all %}
				<tr>
					<td>{{mea.nominal}}</td>
					<td>{{mea.actual}}</td>
					<td>{{mea.measurement}}</td>
					<td>{{mea.difference}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<br />
	<p>5) Linearity(after calibration adjustments):</p>
	
	<div style='display:flex;flex-direction:row;border:0.25px solid black;padding:0px;'>
		<div style='display:flex;flex-direction:column;flex:2;margin:0px' class='col'>
			<div>Nominal Value</div>
			<div>Actual Value</div>
			<div>Linearity Up</div>
			<div>Linearity Down</div>
			<div>Linearity Up</div>
			<div>Average Reading</div>
			<div>Difference</div>
			<div>Standard Deviation</div>
		</div>
		{% for mea in object.up_down_linearity %}
			<div class='col' style='display:flex;flex-direction:column;flex:1;'>
				<div>{{mea.nom}}</div>
				<div>{{mea.actual}}</div>
				<div>{{mea.up}}</div>
				<div>{{mea.down}}</div>
				<div>{{mea.up2}}</div>
				<div>{{mea.avg}}</div>
				<div>{{mea.stdev}}</div>
				<div>{{mea.diff}}</div>
			</div>
		{% endfor %}
	</div>
	
	<br />
	<p>6) Repeatability:</p>
	
	<table>
		<tbody>
			<tr>
				<th></th>
				<th>1/2 Load</th>
				<th>Full Load</th>
			</tr>
			<tr>
				<th>Nominal Mass</th>
				<th>{{object.balancerepeatability_set.first.nominal_half}}</th>
				<th>{{object.balancerepeatability_set.first.nominal_full}}</th>
			</tr>
			<tr>
				<th>Actual Mass</th>
				<th>{{object.balancerepeatability_set.first.actual_half}}</th>
				<th>{{object.balancerepeatability_set.first.actual_full}}</th>
			</tr>
			{% for mea in object.balancerepeatability_set.all %}
				<tr>
					<td>Reading #{{forloop.counter}}</td>
					<td>{{mea.half_load}}</td>
					<td>{{mea.full_load}}</td>
				</tr>
			{% endfor %}
			<tr>
				<th>Average Reading</th>
				<th>{{object.repeat_half_average}}</th>
				<th>{{object.repeat_full_average}}</th>
			</tr>
			<tr>
				<th>Standard Deviation</th>
				<th>{{object.repeat_half_stdev}}</th>
				<th>{{object.repeat_full_stdev}}</th>
			</tr>
		</tbody>
	</table>
	
	<br /> 
	<p>7) Off Center Error</p>
	
	<table>
		<tbody>
			<tr>
				<th colspan='2'>Test Weight</th>
				<th>{{object.balanceoffcenter_set.first.mass_piece}}</th>
			</tr>
			<tr>
				<td>Position</td>
				<td>Reading</td>
				<td>Weight Difference</td>
			</tr>
			{% for mea in object.balanceoffcenter_set.all %}
				<tr>
					<td>
					{% if forloop.counter == 1 %}
					A
					{% elif forloop.counter == 2 %}
					B
					{% elif forloop.counter == 3 %}
					C
					{% elif forloop.counter == 4 %}
					D
					{% else %}
					E
					{% endif %}
					</td>
					<td>{{mea.measurement}}</td>
					<td>{{mea.difference}}</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan='2'>Minimum Reading</td>
				<td>{{object.off_center_min}}</td>
			</tr>
			<tr>
				<td colspan='2'>Maximum Reading</td>
				<td>{{object.off_center_max}}</td>
			</tr>
			<tr>
				<td colspan='2'>Average Reading</td>
				<td>{{object.off_center_mean}}</td>
			</tr>
			<tr>
				<td colspan='2'>Minimum Corner Error</td>
				<td>{{object.off_center_min}}</td>
			</tr>
			<tr>
				<td colspan='2'>Standard Deviation of Readings</td>
				<td>{{object.off_center_stdev}}</td>
			</tr>
		</tbody>
	</table>
	
	<p><b>The uncertainty of the measurement was estimated to be + 
	{{object.uncertainty}}{{object.units}}.(95% confidence level)</b>
	</p>
	
{% endblock %}

{% block traceability %}
<p>The standard set of mass pieces is traceable to CSIR National Metrology Laboratory South Africa 
through calibration certificate number ISOOHA01 MV/M-3640</p>

{{comments}}
{% endblock %}