{% extends 'window.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 primary text-white" style='padding:1rem;margin-bottom:2rem;'>
            <h3>Customer Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <p class="card-text"><strong>Name:</strong> {{object.name}}</p>
                    <p class="card-text"><strong>Email:</strong> {{object.email}}</p>
                    <p class="card-text"><strong>Phone:</strong> {{object.phone}}</p>
                    <p class="card-text"><strong>Address:</strong></p>
                    <p class="card-text">{{object.address| linebreaks}}</p>
                    <a href="{% url 'calibration:update-customer' pk=object.pk %}" class="btn btn-success"><i class="fas fa-edit    "></i> Edit</a>
                </div>
            </div>

        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <div class="card dash-card">
                        <div class="card-body">
                            <h3>Oustanding</h3>
                            <h1>{{object.outstanding}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card dash-card">
                        <div class="card-body">
                            <h3>Completed</h3>
                            <h1>{{object.completed}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card dash-card">
                        <div class="card-body">
                            <h3>Latest</h3>
                            <h1>{{object.latest}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Calibrations</h3>

            <h4>Balances</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Due</th>
                        <th>Name of Instrument</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for bal in object.balance_set.all %}
                        <tr>
                            <td>{{bal.date}}</td>
                            <td>{{bal.due}}</td>
                            <td>{{bal.name_of_instrument}}</td>
                            <td>{{bal.status}}</td>
                            <td><a href="{% url 'calibration:balance-calibration-detail' pk=bal.pk %}" class="btn btn-primary"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Autoclaves</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Due</th>
                        <th>Name of Instrument</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for bal in object.autoclave_set.all %}
                        <tr>
                            <td>{{bal.date}}</td>
                            <td>{{bal.due}}</td>
                            <td>{{bal.name_of_instrument}}</td>
                            <td>{{bal.status}}</td>
                            <td><a href="{% url 'calibration:autoclave-calibration-detail' pk=bal.pk %}" class="btn btn-primary"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Other</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Due</th>
                        <th>Name of Instrument</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for bal in object.genericcalibration_set.all %}
                        <tr>
                            <td>{{bal.date}}</td>
                            <td>{{bal.due}}</td>
                            <td>{{bal.name_of_instrument}}</td>
                            <td>{{bal.status}}</td>
                            <td><a href="{% url 'calibration:calibration-detail' pk=bal.pk %}" class="btn btn-primary"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock content %}