{% extends 'list_template.html' %}

{% block list_headings %}
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>

    </tr>


{% endblock list_headings %}

{% block list_content %}
    {% for cus in object_list %}
        <tr>
            <td>{{cus.name}}</td>
            <td>{{cus.phone}}</td>
            <td>{{cus.email}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn primary text-white dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Actions
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}

{% endblock list_content %}